[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
luigi = "*"
matplotlib = "*"
uproot3 = "*"
pandas = "*"
uproot4 = "*"
awkward = "*"

[dev-packages]

[requires]
python_version = "3.8"
